@charset "UTF-8";

body{background-color: grey;}

h1{text-align: center;}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Esto asegura que el formulario esté centrado verticalmente también */
}

form {
    border: 2px black solid;
    width: 300px; /* Ajusta el ancho según tus necesidades */
    padding: 20px; /* Agrega espacio interno para que se vea mejor */
}
